.featureDefinitionsPageContainer{}

.pageHeaderContainer{
    padding: 2rem 0;
}

.categoryTitleWrapper{
    font-family: var(--headline-regular);
    color: var(--color-gray-01);
     padding-top: 2rem;
}

.featureTitleWrapper{
    /* font-family: var(--text-semibold); */
    color: var(--color-gray-02);
    padding-bottom: 1rem;
}
.featureDescriptionWrapper{
    color: var(--color-gray-01);
}

.definitionWrapper:not(:last-child){
    border-bottom: 1px solid var(--color-gray-04);
    padding: 1rem 0;
}
.definitionWrapper:last-child{
    /* padding-bottom: 4rem; */
    padding-bottom: 1rem;
}
.stickyNavContainer{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    border-bottom: 1px solid var(--color-gray-04);
    border-top: 1px solid var(--color-gray-04);
}
@media (min-width: 768px) {
    .pageHeaderContainer{
        padding: 4rem 0;
    }
}

/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/