.featureDefinitionsPageContainer {
   /* display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-columns: 30rem 1fr; */
  
}
.pageHeaderContainer{

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-06);
    padding-top: 8rem;
    padding-left: 8rem;
    padding-right: 8rem;
    /* grid-column: 1/-1;
    grid-row: 1; */
    /* padding: 4rem 8rem; */
}
.pageHeaderWrapper{
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap:12rem
    /* background-color: aqua; */

}
.pageHeaderText{
    /* background-color: red; */
    grid-column: 1/6;
    /* align-self: center;
    padding-bottom: 4rem; */
}
.pageHeaderImage{
/* border-radius: 100rem; */
border-top-left-radius: 100rem;
border-top-right-radius: 100rem;
    grid-column: 6/-1;
    /* background-image: url('/public/assets/image/backgrounds/resource/lg-mom.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70rem;

    
}
/* .pageHeaderImage img{
    height: auto;
    display: flex;
} */
.pageBodyContainer{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    background-color: var(--color-gray-05);
    padding: 2rem 8rem;
    column-gap: 4rem;
    /* border-bottom: 1px solid black; */
}
.pageBodyContainer:not(:last-child) {
    border-bottom: 2px solid var(--color-gray-04);
    /* padding: 2rem 0; */
  }

.pageBodyWrapper{

    grid-column: 2/12;
}
.featureDefinitionsPageWrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;
    background-color: aqua;
}
.definitionWrapper{
    padding: 2rem 0;
   
}
.definitionWrapper:not(:last-child){
     border-bottom: 1px solid var(--color-gray-03);
}

.stickyNavContainer{
    background-color: aquamarine;
    position: absolute;
}