.formElementContainer {
    border: 5px solid rgb(23, 201, 88);
    padding: 1rem;
    margin-bottom: 5rem;
}
.checkboxFormElementContainer{
  display: flex;
  background-color: rgb(115, 242, 185);
  /* width: 100%; */

}
.label {
    background-color: rgb(146, 220, 183);
    padding: .5rem;

    display: flex;
    flex-direction: column;
}
.checkboxLabel {
  display: flex;
  flex-direction: row;
  background-color: bisque;
  border-bottom: 1px solid var(--color-gray-04);
  padding: .5rem 0;
  width: 100%;
}
.input, .textarea {
    font-family: var(--lg-ei-text-regular);
    font-size: 2rem;
    color: black;
    padding: .8rem 1.2rem;
    border-radius: .2rem;
    border: 1px solid var(--color-gray-04);

    resize: none; /* Remove the resize handle */
    overflow: auto; /* Ensure proper scrolling */
}


.labelInnerWrapper {
    
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}


.feedback {
    border: 2px solid rgb(34, 8, 178);
}

.errorMessage {
    color: red;
    font-size: 2rem;
}

.successMessage {
    color: green;
    font-size: 2rem;
}



/* SELECT MENU */
.selectContainer {
    position: relative;
  }
  .customSelect {
    background-color: aquamarine;
    color: black;
    padding: 12px 20px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    display: flex; /* Use flexbox to align text and icon */
    justify-content: space-between; /* Space between text and icon */
    align-items: center; /* Center items vertically */
  }
  

  .selectItems {
    position: absolute;
    background-color: rgb(50, 205, 190);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    display: block;
  }
  
  .selectItems .selectOption {
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    font-size: 1.6rem;
  }
  .selectItems .selectOption:hover, .selectItems .selectOption.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .selectContainer .active {
    border-color: greenyellow; /* Style for active dropdown */
    color: maroon;
    font-weight: 400;
  }
  

  /* CHECKBOX */

  .checkboxRow{
    display: flex;
    margin-left: auto;
  }