.techLogosContainer{

    width: 100%;
}
.logosList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
    padding-top: 2rem;
}
.logosList li{
    list-style: none;
}
.logoImageWrapper{
    width: 10rem; 
    height: 10rem;
    background-color: var(--color-gray-07);
 
    border-radius: 1rem;
    padding: 1rem;
}
.logoImage{
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
@media (min-width: 1024px) {
    .logoImageWrapper{
        width: 12rem; 
        height: 12rem;
      
    }
}

@media print {
    .techLogoTitle{
        display: none;
    }
    .logosList{
        /* column-gap: 20rem;
        row-gap: 50rem; */
        /* justify-content: center;
        align-items: center; */
        padding: 0;
        margin: 0;
        column-gap: 3rem;
     
    }
  
    .logoImageWrapper{
        height: 100%;
        width: 100%;
        background-color: none;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }
    .logoImage{
    height: 5rem;
    width: 7rem;
    object-fit: contain;
  }
}