.dashboardContainer{
    /* background-color: aqua;
    position: relative; */
}
.filterWrapper{
    position: sticky;
    top: 0;
    background-color: var(--color-gray-06);
    border-top: 1px solid var(--color-gray-05);
    border-bottom: 1px solid var(--color-gray-05);
    padding: 2rem 3rem;
    z-index: 1;
}
.cardRow{
   background-color: var(--color-gray-06);
    padding: .5rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}