.dashboardSkeletonContainer{
    /* background-color: aqua; */
}
.gridContainer{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}
.itemsWrapper{
       display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    /* grid-column: 1/-1;
    grid-row: 1;
    width: 90%;
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 5rem;
    margin: 2rem auto; */
}
.bodyWrapper{
    grid-column: 1/-1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
}
.bodyItem1{
    grid-column: 1/3;
}
.bodyItem2{
    grid-column: 3;
}
.bodyItem3{
    grid-column: 4;
}

@media (min-width: 2150px) {
    .itemsWrapper{
        grid-column: 1/-1;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}

/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/