.logo{
    height: 20rem;
    width: auto;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.headerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    gap: .5rem;
}
.title{
    color: var(--color-gray-0);
}

/* .tertiaryTitle{
font-size: 2rem;
color: var(--color-gray-01);
}
.tertiaryTitle a{
    color: var(--color-gray-01);
} */

.formWrapper{
    /* padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid var(--color-gray-04); */
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loginFooterDescription{
    font-size: 2rem;
    color: var(--color-gray-01);
}
.loginFooterDescription a{
    color: var(--color-gray-03);
}
.spanText{
font-size: 2rem;
}
.spanTextLink a{
    font-size: 2rem;
    color: var(--color-red-03);
}