.scrollToTopcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;
   
    background-color: white;
    
    border-radius: 100rem;
    border: 1px solid var(--color-gray-04);
  
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 2;

    cursor: pointer;
}
@media (min-width: 1024px) {
    .scrollToTopcontainer {
        width: 6rem;
        height: 6rem;
    }
}

