button{
    width: 100%;
    padding: 1.2rem 1.5rem;
    font-family: var(--text-semibold);
    font-size: 1.6rem;
    white-space: nowrap;
    text-align: center;
    border: none;
}
button:hover{
cursor: pointer;
}

.primaryAction {
    background-color: var(--color-red-03);
    color: white;
    border-radius: 100rem;
    border: 1px solid var(--color-red-03);
}
.secondary {
    background-color: white;
    border: .1rem solid var(--color-gray-03);
    color: var(--color-gray-01);
    border-radius: 100rem;
}

@media (min-width: 1024px) {
    button{
        padding: 1.5rem 2rem;
    }
}



/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/