.primaryAction {
    background-color: var(--color-red-03);
    color: white;
    padding: 1rem 1.6rem;
    border-radius: 100rem;
    border: 1px solid var(--color-red-03);
}

.primary {
    background-color: black;
    color: white;
    padding: 1rem 1.6rem;
    border-radius: 100rem;
    border: none;
}

.secondary {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 1rem 1.6rem;
    border-radius: 100rem;
}

.tertiaryBlack {
    background-color: transparent;
    border: none;
    color: black;
}

.tertiaryWhite {
    background-color: transparent;
    border: none;
    color: black;
}

.tertiaryGray {
    background-color: var(--color-gray-04);
    border: none;
    color: black;
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--color-gray-03);
}

.tertiaryGray a {
    text-decoration: none;
    font-size: var(--action-btn-font-size);
    font-family: var(--action-btn-font-family);
    color: var(--color-gray-01);
}

.printBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: black;

    padding: 1.5rem 2rem;
    border-radius: 2rem;
    border: 2px solid #e1a80e;
    background-color: #e1a80e;
    width: 50%;
}

.printDefault {

    background-size: 200% 200%;
    background-color: var(--color-red-03);
    animation: gradientAnimation 5s ease infinite;
    color: white;
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100rem;
    border: 1px solid var(--color-red-03);
}

/* .printDefault:hover {
    cursor: pointer;
    background-size: 400% 400%;
    background-image: linear-gradient(100deg,red, black, var(--color-red-03));
    animation: gradientAnimation 10s ease infinite;
} */

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.printDefault a {
    text-decoration: none;
    font-size: var(--action-btn-font-size);
    font-family: var(--action-btn-font-family);
    color: var(--color-gray-01);
}

/* Color Classes */
.text-white {
    color: var(--color-white);
}

.text-black {
    color: var(--color-black);
}
@media (min-width: 834px) {
     .primary,
    .primaryAction, 
    .secondary {
        padding: 1.5rem 2rem;
    }
}
@media (min-width: 1920px) {
    
}

/* @media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} */