/* --------------------------------------------------------------------------------------- */
/* PAGE HERO */
/* --------------------------------------------------------------------------------------- */
.pageTitle{
    font-family: var(--headline-regular);
    font-weight: 600;
    font-size: 2.8rem;
}

.pageSubtitle{
    font-family: var(--headline-regular);
    font-size: 2.4rem;
}
.pageTertiaryTitle{
    font-family: var(--headline-regular);
    font-size: 2rem;
}
/* --------------------------------------------------------------------------------------- */
/* NAVIGATION */
/* --------------------------------------------------------------------------------------- */

.navTitleText {
    font-size: 2rem;
    font-family: var(--text-semibold);
}

.mobileNavTileText {
    font-size: 2.4rem;
}

/* --------------------------------------------------------------------------------------- */
/* SEARCH */
/* --------------------------------------------------------------------------------------- */

.searchTitle {
    font-size: 2.4rem;
    font-family: var(--text-semibold);
}

.searchTertiaryTitle {
    font-size: 1.6rem;
}

.searchSubtitle {
    font-size: 2rem;
    /* font-family: var(--text-semibold); */
}

.productSearchTitle {
    font-size: 1.6rem;
}

.productSearchSubtitle {
    font-size: 1.6rem;
    /* font-family: var(--text-semibold); */
}

.productSearchNavTitle {
    font-size: 1.4rem;
}

.productSearchNavSubtitle {
    font-size: 1.4rem;
    /* font-family: var(--text-semibold); */
}


/* --------------------------------------------------------------------------------------- */
/* BUILDER PRODUCT CARD*/
/* --------------------------------------------------------------------------------------- */

.productCardTitle{
    font-size: 1.6rem;
}
.productCardSubtitle{
    font-size: 2rem;
    
}
.productCardTertiaryTitle{
    font-size: 1.4rem;
}
.productCardListText{
    font-size: 1.2rem;
}