/* --------------------------------------------------------------------------------------- */
/* NAVIGATION + FOOTER */
/* --------------------------------------------------------------------------------------- */

.navTitleText {
    font-size: 2rem;
    font-size: 1.8rem;
    /* font-family: var(--text-semibold); */
}
.stickyNavTitleText {
    font-size: 1.6rem;
    /* font-family: var(--text-semibold); */
}
.mobileNavTitle {
    font-size: 2rem;
}

.footerTitle {
    font-size: 1.8rem;
    font-family: var(--text-semibold);
}

.footerMenuItem {
    font-size: 1.6rem;
}

/* --------------------------------------------------------------------------------------- */
/* PRODUCT
/* --------------------------------------------------------------------------------------- */

.productPageSubtitle {
    font-family: var(--headline-light);
    font-weight: 600;
    font-size: 2.8rem;
    color: var(--color-gray-01);
}

.productPageTitle {
    font-size: 2rem;
    color: var(--color-gray-03);
}

.productPageSpecTitle {
    font-size: 2rem;
    font-family: var(--text-semibold);
    color: var(--color-gray-02);
}

.productPageSpecList {
    font-size: 1.6rem;
    color: var(--color-gray-03);
}

.productPageTertiary {
    font-size: 1.8rem;
    color: var(--color-gray-03);
}

.productPageSection {
    font-size: 2rem;
    font-family: var(--text-semibold);
    color: var(--color-gray-02);
}

/* --------------------------------------------------------------------------------------- */
/* PAGE HERO */
/* --------------------------------------------------------------------------------------- */
.pageTitle {
    font-family: var(--headline-light);
    font-weight: 600;
    font-size: 3.2rem;
    /* color: var(--color-gray-01) */
}

.pageSubtitle {
    font-size: 2rem;
    /* color: var(--color-gray-02); */
}

.pageTertiaryTitle {
    /* color: var(--color-gray-03); */
    font-size: 1.6rem;
}

/* --------------------------------------------------------------------------------------- */
/* PRODUCT CARD*/
/* --------------------------------------------------------------------------------------- */

.productCardTitle {
    font-size: 1.6rem;
}

.productCardSubtitle {
    font-size: 2rem;

}

.productCardTertiaryTitle {
    font-size: 1.4rem;
}

.productCardListText {
    font-size: 1.2rem;
}

/* --------------------------------------------------------------------------------------- */
/* PRINT MODE */
/* --------------------------------------------------------------------------------------- */
.coverTitle {
    font-size: 6rem;
    font-family: var(--headline-regular);
    font-weight: 600;
}

.coverSubtitle {
    font-size: 3.5rem;
}

/* --------------------------------------------------------------------------------------- */
/* MODALS + ALERTS */
/* --------------------------------------------------------------------------------------- */
.alertTitle {
    font-size: 1.6rem;
    font-family: var(--text-semibold);
}

.modalTitle {
    font-size: 3rem;
    font-family: var(--headline-regular);
}

.modalSubtitle {}

.modalTertiaryTitle {
    font-size: 1.8rem;
}



/* --------------------------------------------------------------------------------------- */
/* PAGE BODY */
/* --------------------------------------------------------------------------------------- */

.bodyTitle {}

.bodySubtitle {
    font-size: 2.2rem;
}

.bodySubtitleBold {
    font-family: var(--text-semibold);
    font-size: 2.2rem;
}

.bodyTertiaryTitle {
    font-size: 1.8rem;
}

.bodyTertiaryTitleBold {
    font-size: 1.8rem;
    font-family: var(--text-semibold);
}

.bodyDescription {
    font-size: 1.4rem;
}

.bodyDescriptionMedium {
    font-size: 1.6rem;
}

.bodyDescriptionLarge {
    font-size: 1.8rem;
}

.bodyFeatureSectionTitle {
    font-family: var(--headline-regular);
    /* font-weight: 600; */
    font-size: 2.8rem;
}

.bodyBenefitTitle{
    font-size: 2.2rem;
   
}
.bodyBenefitDescription{
    font-size: 1.8rem;
    color: var(--color-gray-02);
}

/* --------------------------------------------------------------------------------------- */
/* NAVIGATION + FOOTER */
/* --------------------------------------------------------------------------------------- */
/* 
.navTitleText {
    font-size: 2rem;
    font-family: var(--text-semibold);
}

.mobileNavTileText {
    font-size: 2.4rem;
}

.footerTitle {
    font-size: 1.8rem;
    font-family: var(--text-semibold);

}

.footerMenuItem {
    font-size: 1.6rem;
} */

/* --------------------------------------------------------------------------------------- */
/* SEARCH */
/* --------------------------------------------------------------------------------------- */

.searchTitle {
    font-size: 2.4rem;
    font-family: var(--text-semibold);
}

.searchTertiaryTitle {
    font-size: 1.6rem;
}

.searchSubtitle {
    font-size: 2rem;
    /* font-family: var(--text-semibold); */
}

.productSearchTitle {
    font-size: 1.6rem;
}

.productSearchSubtitle {
    font-size: 1.6rem;
    /* font-family: var(--text-semibold); */
}

.productSearchNavTitle {
    font-size: 1.4rem;
}

.productSearchNavSubtitle {
    font-size: 1.4rem;
    /* font-family: var(--text-semibold); */
}





@media (min-width: 430px) {

    /* --------------------------------------------------------------------------------------- */
    /* PAGE HERO */
    /* --------------------------------------------------------------------------------------- */
    /* .pageTitle {
        font-size: 3.6rem;
    } */

    .pageSubtitle {
        font-size: 2.4rem;
    }

    .pageTertiaryTitle {
        font-size: 2.2rem;
    }

}

@media (min-width: 768px) {
    /* --------------------------------------------------------------------------------------- */
    /* PAGE HERO */
    /* --------------------------------------------------------------------------------------- */

    /* .pageSubtitle {
    font-size: 2rem;
   
}

.pageTertiaryTitle {
    font-size: 2rem;
} */

    /* --------------------------------------------------------------------------------------- */
    /* PRODUCT
/* --------------------------------------------------------------------------------------- */

    .productPageSubtitle {
        font-size: 2.8rem;
        font-size: 3rem;
    }

    .productPageTitle {
        font-size: 2rem;
        font-size: 2.2rem;
    }

    .productPageSpecTitle {
        font-size: 2rem;
        font-size: 2.2rem;
    }

    .productPageSpecList {
        font-size: 1.6rem;
        font-size: 1.8rem;
    }

    .productPageTertiary {
        font-size: 1.8rem;
        font-size: 2rem;
    }

    .productPageSection {
        font-size: 2rem;
        font-size: 2.2rem;
    }

    /* --------------------------------------------------------------------------------------- */
    /* PAGE HERO */
    /* --------------------------------------------------------------------------------------- */
    .pageTitle {
        font-size: 4.4rem;
    }

    /* .pageSubtitle {
      font-size: 3.2rem;
  }

  .pageTertiaryTitle {
      font-size: 2.4rem;
  } */
    /* --------------------------------------------------------------------------------------- */
    /* PAGE BODY */
    /* --------------------------------------------------------------------------------------- */

    .pageFeatureSectionTitle {
        font-size: 3.2rem;
    }
}

@media (min-width: 834px) {}

@media (min-width: 1024px) {
    /* --------------------------------------------------------------------------------------- */
    /* PRODUCT
/* --------------------------------------------------------------------------------------- */

    .productPageSubtitle {
        font-size: 2.8rem;
        font-size: 3rem;
        font-size: 3.2rem;
    }

    .productPageTitle {
        font-size: 2rem;
        font-size: 2.2rem;
        font-size: 2.4rem;
    }

    .productPageSpecTitle {
        font-size: 2rem;
        font-size: 2.2rem;
        font-size: 2.4rem;
    }

    .productPageSpecList {
        font-size: 1.6rem;
        font-size: 2rem;
    }

    .productPageTertiary {
        font-size: 1.8rem;
        font-size: 2rem;
        font-size: 2.2rem;
    }

    .productPageSection {
        font-size: 2rem;
        font-size: 2.2rem;
        font-size: 2.4rem;
    }

    .stickyNavTitleText {
        font-size: 1.6rem;
        font-size: 1.8rem;
        /* font-family: var(--text-semibold); */
    }

    /* --------------------------------------------------------------------------------------- */
    /* PAGE HERO */
    /* --------------------------------------------------------------------------------------- */
    /* .pageTitle {
        font-size: 7rem;
    }

    .pageSubtitle {
        font-size: 3.6rem;
    }

    .pageTertiaryTitle {
        font-size: 3rem;
    } */


    .bodyBenefitTitle{
        font-size: 3rem;
    }
    .bodyBenefitDescription{
        font-size: 2rem;
    }
}
    @media (min-width: 1280px) {

        .productPageSubtitle {
            font-size: 2.8rem;
            font-size: 3rem;
            font-size: 3.2rem;
            font-size: 3.6rem;
        }

        .productPageTitle {
            font-size: 2rem;
            font-size: 2.2rem;
            font-size: 2.4rem;
            font-size: 2.8rem;
        }

    }

    @media (min-width: 1440px) {

        .productPageSubtitle {
            font-size: 2.8rem;
            font-size: 3rem;
            font-size: 3.2rem;
            font-size: 3.6rem;
            font-size: 4.4rem;
        }

        .productPageTitle {
            font-size: 2rem;
            font-size: 2.2rem;
            font-size: 2.4rem;
            font-size: 2.8rem;
            font-size: 3.6rem
        }

        .stickyNavTitleText {
            font-size: 1.6rem;
            font-size: 1.8rem;
            font-size: 2rem;
            /* font-family: var(--text-semibold); */
        }

    }
/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/