.scrollHeaderWrapper {
  background-color: var(--color-gray-05);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-top: 2px solid var(--color-gray-04);
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  /* padding: 2rem 8rem 0 8rem; */
}

.scrollHeader {
  grid-column: 2/12;
}
.mainScrollingDivContainer {}

.container {
  background-color: var(--color-gray-05);
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding-bottom: 2rem;
  /* padding-bottom: 6rem; */
}
.scrollWrapper {
  display: flex;
  align-items: center;
  position: relative;
  /* padding: 2rem 11.5vw 4rem 11.5vw; */
   padding: 2rem 11.5vw 4rem 11.5vw;
  background-color: var(--color-gray-05);
}
.scrollWrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem;
  background-color: var(--color-gray-05);
}

/* For WebKit-based browsers */
.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  background: var(--color-gray-05);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-04);
  border-radius: 10px;
  border: 3px solid var(--color-gray-05);
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-red-02);
}
@media (min-width: 430px) {
  .scrollWrapper {
    padding: 2rem 8.5vw 4rem 8.5vw;
  }
}

@media (min-width: 768px) {
  /* .scrollWrapper {
    padding: 2rem 11.5vw 4rem 11.5vw;
  } */
}

@media (min-width:1280px) {

 
  .scrollHeaderWrapper {
 
  padding: 2rem 8rem 0 8rem;
}
  /* .mainScrollingDivContainer:not(:last-child){
    border-bottom: 2px solid var(--color-red-03);
  } */
  


  

  
  /* For WebKit-based browsers */
  .container::-webkit-scrollbar {
    width: 12px;
  }
  
  .container::-webkit-scrollbar-track {
    background: var(--color-gray-05);
  }
  
  .container::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-04);
    border-radius: 10px;
    border: 3px solid var(--color-gray-05);
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-red-02);
  }
  
  
  .scrollWrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem 11.5vw 4rem 11.5vw;
    background-color: var(--color-gray-05);
  }
  
  
  
  .scrollProgress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: red;
    /* Adjust color as needed */
  }
  
  .subcategoryCountContainer {
    display: flex;
    align-items: center;
  }
}




