.heroContainer {
    height: auto;
    padding-bottom: 3rem;
}

.heroWrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.heroTextWrapper,
.heroTitle,
.heroDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-gray-01);
}

.heroDescription {
    display: none;
}

.mobileImageGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image1 {
    height: 10rem;
    width: auto;
    grid-column: 2/3;
    grid-row: 1;

}

.image2 {
    height: 20rem;
    width: auto;
    grid-column: 3;
    grid-row: 1;
}

.image1 img,
.image2 img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.image3 {
    display: none;
}



@media(min-width: 430px) {

    .image1 {
        height: 15rem;
    }

    .image2 {
        height: 30rem;
    }
}

@media(min-width: 640px) {
    
    .heroContainer {  
        padding-bottom: 4rem;
    }
    .image1 {
        height: 20rem;
    }

    .image2 {
        height: 40rem;
    }

}

@media (min-width: 768px) {
    .heroContainer { 
        padding-top: 3rem; 
    }
}

@media (min-width: 834px) {}

@media (min-width: 1024px) {
    .heroTextWrapper {
       width: 80%;
    }
    .image1 {
        height: 22rem;
    }

    .image2 {
        height: 44rem;
    }
}

@media (min-width: 1280px) {
    .mobileImageGroup {
        display: none;
    }
    .heroContainer {
        padding: 0;
        margin-bottom: 4rem;
    }

    .heroWrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .heroTextWrapper {
        grid-column: 2/7;
        grid-row: 1;
        /* padding: 0 0 0 4rem; */
    }

    .heroImageWrapper {
        grid-column: 2/-1;
        margin-left: auto;
        grid-row: 1;
    }

    .image3 {
        display: block;
        max-height: 80rem;
        height: 45rem;
        width: auto;
    }

    .image3 img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    .heroTextWrapper,
    .heroTitle,
    .heroDescription {

        color: white;
    }
}
@media (min-width: 1440px) {
    
    /* .image3 {
        height: 55rem;
    } */
}
@media (min-width: 1920px) {
    .image3 {
        height: 60rem;
    }
}



/* @media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} */