.mainContainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
   grid-template-rows: 1fr auto;
   align-items: center;
   justify-items: center;
   background-color: var(--color-gray-05);

   justify-content: center;
   align-items: center;

}

.body{
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;  
    margin-bottom: auto;
    padding: 3rem 0 6rem;
    height: max-content;
    justify-content: center;
    align-items: center;

max-width: 100rem;


    height: 100%;
}

.headerText{
    color: var(--color-gray-03);
}
.footer{
    grid-row: 2;
    grid-column: 1/-1;
    background-color: var(--color-gray-06);
    width: 100%;
    padding: 2rem;
    /* margin-top: 8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.footerLinks{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
}
.footerLinks a{
    font-size: 2rem;
    color: var(--color-gray-03);
    text-decoration: underline;
}
@media (min-width: 1024px) {
 .mainContainer{
        height: 100%;
    }
}


/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/