/* --------------------------------------------------------------------------------------- */
/* MAIN NAV */
/* --------------------------------------------------------------------------------------- */
.mainNavComponentContainer {
    background-color: var(--color-gray-06);
    padding: 1rem;
    /* display: flex; */
}
.mobileNavWrapper {
    /* display: flex; */
}

/* --------------------------------------------------------------------------------------- */
/* MOBILE NAV */
/* --------------------------------------------------------------------------------------- */


.mobileNavComponentContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mobileIconsWrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.mobileIconsWrapper svg {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
}
.mobileLogoWrapper{
    height: 3.2rem;
    width: auto;
}

.mobileLogoWrapper img{
  object-fit: contain;
  height: 100%;
  width: auto;
}

/* --------------------------------------------------------------------------------------- */
/* DESKTOP NAV */
/* --------------------------------------------------------------------------------------- */

.desktopNavWrapper {
    display: none;
}

.desktopLogoWrapper{
    height: 4.4rem;
    width: auto;
}

.desktopLogoWrapper img{
    object-fit: contain;
    height: 100%;
    width: auto;
}


@media (min-width: 1024px) {

    /* --------------------------------------------------------------------------------------- */
    /* MOBILE NAV */
    /* --------------------------------------------------------------------------------------- */

    .mobileNavWrapper {
        display: none;
    }

    /* --------------------------------------------------------------------------------------- */
    /* DESKTOP NAV */
    /* --------------------------------------------------------------------------------------- */

    .desktopNavWrapper {
        display: block;
    }
}


/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/