/* --------------------------------------------------------------------------------------- */
/* MAIN NAV */
/* --------------------------------------------------------------------------------------- */
.mainNavComponentContainer {
    background-color: var(--color-gray-06);
    padding: 1rem;
    /* display: flex; */
}
.mobileNavWrapper {
    /* display: flex; */
}

/* --------------------------------------------------------------------------------------- */
/* MOBILE NAV */
/* --------------------------------------------------------------------------------------- */


.mobileNavComponentContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mobileLogoWrapper{
    height: 3.2rem;
    width: auto;
}.mobileLogoWrapper img{
  object-fit: contain;
  height: 100%;
  width: auto;
}

.mobileIconsWrapper{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}.mobileIconsWrapper svg {
    height: 2.4rem;
    width: 2.4rem;
    display: flex;
}
.mobileMenuBackIconWrapper{
    padding: 0 0 1rem 0 ;
}

.mobileMenuHeader{
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;
}.mobileMenuHeader svg{
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
}
.mobileNavOptionsList a{
    color: black;
    font-size: 1.8rem;
}
.mobileNavOptionsList li{
  list-style: none;
}

/* --------------------------------------------------------------------------------------- */
/* DESKTOP NAV */
/* --------------------------------------------------------------------------------------- */


.desktopNavWrapper {
    display: none;
}



@media (min-width: 1024px) {

    /* --------------------------------------------------------------------------------------- */
    /* MOBILE NAV */
    /* --------------------------------------------------------------------------------------- */

    .mobileNavWrapper {
        display: none;
    }

    /* --------------------------------------------------------------------------------------- */
    /* DESKTOP NAV */
    /* --------------------------------------------------------------------------------------- */

    .desktopNavWrapper {
        display: block;
    }

    .desktopNavContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
    }
    .desktopNavLogoWrapper{
        height: 4.4rem;
        width: auto;
        padding-right: 4rem;
    }
    
    .desktopNavLogoWrapper img{
        object-fit: contain;
        height: 100%;
        width: auto;
    }
    .desktopNavMenuWrapper{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
    }
    .desktopNavSearchWrapper{
        /* background-color: pink; */
        margin-left: auto;
        margin-right: 2.5rem;
        width: 40rem;
    }
    .desktopNavIconsWrapper{
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        
    }.desktopNavIconsWrapper svg {
        height: 2.4rem;
        width: 2.4rem;
        display: flex;
    
    }
}


/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {}
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/