

.portalPageContainer{
    background-color: var(--color-gray-04);
}
.portalPageHeaderWrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray-07);
    margin-bottom: 2rem;
}
.portalPageWrapper{
    background-color: var(--color-gray-07);
    padding: 3rem;
 height: 100vh;
}
.header{
    padding-bottom: 2rem;
   
}
.breadcrumbs{
    display: flex;
    flex-direction: row;
    color: var(--color-gray-04);
    font-size: 1.4rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
 /* border-bottom: 1px solid var(--color-gray-04); */
}
.slash1{
    padding: 0 .5rem;
}
.slash2{
    padding: 0 .5rem;
}
.currentPage{
    color: var(--color-gray-01);
}

.pageTitle{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    color: var(--color-gray-01);
}
.pageDescription{
    font-size: 1.6rem;
    color: var(--color-gray-03);
}

.portalPageBodyWrapper{
    background-color: var(--color-gray-07);
}
.body{
    /* border-top: 1px solid var(--color-gray-04);
    padding-top: 3rem; */
}
@media (min-width: 768px) {
    .breadcrumbs{
       
        font-size: 1.6rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
     /* border-bottom: 1px solid var(--color-gray-04); */
    }
    .pageTitle{
        font-size: 4rem;
      
    }
    .pageDescription{
        font-size: 2rem;
        
    }
     .portalPageContainer{
       
        /* padding: 4rem; */
    }
    .portalPageWrapper{
     
        padding: 3rem 6rem;
    }
}
@media (min-width: 1024px) {
   
}
/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/