.qrcodeContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.imageWrapper{
    height: 5rem;
    width: 5rem;
}
.imageWrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title{
    font-size: 1rem;
    text-align: center;
}
.subtitle{
    font-size: 1.8rem;
}
.description{
    font-size: 1.2rem;
}