.main {
    position: relative;
    width: 100%;
    /* You can also reduce the width here if needed */
}

.collarContainer {
    position: relative; /* Ensure it's positioned relative to handle the margin */
    width: 100%; /* Make it take the full width available */
    white-space: nowrap; /* To prevent line breaks */
    margin: 0 auto; /* Centers the container horizontally */
    /* padding: 2rem 4rem;  */
    /* padding: 2rem 0;  */
    /* Add padding around the container */
}

.collarGroup {
    position: relative;
    background-color: var(--color-gray-06);
    padding-bottom: 3rem;
    /* margin-bottom: 4rem;  */
    /* Bottom margin to space it out */
}

.collarWrapper {
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
    /* margin: 0 4rem;  */
    /* This adds margin outside the scrolling list */
    overflow: hidden; /* Ensures that items will scroll inside the container */
}

.listWrapper {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5rem;
    /* margin-right: 2rem; */
    /* background-color: aqua; */
}
.listWrapper0{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5rem;
    margin-left: 5rem;
}
.collarListText {
    font-size: 3.5rem;
    white-space: nowrap;
    color: var(--color-gray-02);
}

.sloganWrapper{
    height: 8rem;
    width: auto;
}
.sloganWrapper img{
    height: 100%;
    /* width: 100%; */
    object-fit: contain;
}
