
.contentWrapper{
    /* padding: 2rem 0; */
    padding: 2rem;
}
.contentWrapperBase{
    padding: 2rem;

}
.wrapper2 {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

.wrapper3 {
    background-color: var(--color-gray-05);
    /* border-top: 1px solid var(--color-gray-04); */

}

.section1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section3 {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
color: var(--color-gray-03);
}

.columnList {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.columnList li{
    list-style: none;
    
}
.columnList li a{
    color: var(--color-gray-03);
    transform: scale(1);
    transition: transform 0.1s ease, color 0.1s ease;
   /* color: var(--color-gray-01); */
    display: inline-flex;
}
.columnList li:first-child {
    padding-top: .5rem;
}
.columnList li a:hover{
    transform: scale(1.0);
    color: var(--color-red-03);
}

@media (min-width: 390px) {

    /* .wrapper1,
    .wrapper2,
    .wrapper3 {
        padding: 2rem;
    } */

    /* .section1{
        gap: 3rem;
    } */
    .columnList li:first-child {
        padding-top: 1rem;
    }
}

@media (min-width: 430px) {}

@media (min-width: 768px) {
    .contentWrapper{
        padding: 3rem 4rem;
    
    }
}

@media (min-width: 834px) {}

@media (min-width: 1024px) {
/* 
    .footerContainer {
        display: grid;
        grid-template-rows: 2rem auto auto auto;
        grid-template-columns: repeat(12, 1fr);
    } */

    /* .wrapper1,
    .wrapper2,
    .wrapper3 {
        padding: 2rem 4rem;
    } */

    .wrapper1 {
        /* display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row: 2;
        grid-column: 1/-1; */
        /* padding: 0 8rem;
        column-gap: 4rem; */
    }

    .wrapper2 {
        display: grid;
        /* grid-template-columns: repeat(12, 1fr); */
        /* justify-items: end; */
        /* grid-row: 3;
        grid-column: 1/-1; */
        /* padding: 1rem 0; */
    }

    .wrapper3 {
        /* display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row: 4;
        grid-column: 1/-1; */
        /* padding: 1rem 8rem; */
        /* column-gap: 4rem; */
    }

    .section1 {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4rem;
    }

    .section2 {
        grid-column: 1/ -1;
        /* padding: 1rem 8rem; */
    }

    .section3 {
        grid-column: 1 / -1;

    }

    .columnList {
        gap: 1rem;
    }

}

@media (min-width: 1280px) {
    .contentWrapper{
        padding: 2rem;
        /* padding: 3rem 4rem 0 4rem; */
    }
    .contentWrapperBase{
        padding: 2rem 4rem 2rem 4rem;
   
    }
  
}

@media (min-width: 1440px) {
    .contentWrapper{
        padding: 2rem 4rem;
        /* padding: 3rem 4rem 0 4rem; */
    }
    .section1 {
        grid-column: 2 / 12;

    }

    .section2 {
        /* grid-column: 2 / 12; */
        grid-column: 1 / 12;
    }

    .section3 {
        grid-column: 2 / 12;

    }

    .wrapper1,
    .wrapper2,
    .wrapper3 {
        /* padding: 2rem 8rem; */
    }
}

@media (min-width: 1920px) {
    .contentWrapper{
        padding: 3rem 0;
        /* padding: 3rem 4rem 0 4rem; */
    }
}