/* --------------------------------------------------------------------------------------- */
/* SEARCH INPUT */
/* --------------------------------------------------------------------------------------- */
/* .searchInputContainer{
    position: relative;
} */
.searchInputWrapper {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid var(--color-gray-04);
    border-bottom: 1px solid var(--color-gray-04);
}

.searchPreviewWithResults {
    position: relative;
    height: 100rem;
    overflow-y: scroll;
}

.searchIconWrapper svg {
    height: 1.6rem;
    width: 1.6rem;
    object-fit: contain;

}

.input {
    width: 100%;
    border: none;
    font-size: 1.6rem;
    background-color: white;
    color: var(--color-gray-02);
}

.input:focus {
    outline: none;
}

/* --------------------------------------------------------------------------------------- */
/* SEARCH PREVIEW */
/* --------------------------------------------------------------------------------------- */

.desktopSearchPreviewWithResults{

position: relative;
}
.desktopSearchPreviewWithResultsInnerDiv{
    position: absolute;
    height: 100rem;
    overflow-y: scroll;
    background-color: var(--color-gray-05);
}