.categoryCardContainer {
    /* height: 35rem; */
    width: 27.6rem;
    /* height: 42rem;
    width: 37.6rem; */
    padding: 8rem;
    background-color: var(--color-gray-07);
    border-radius: 4rem;
    text-align: center;
    display: grid;
    align-items: center;
    border: 1px solid var(--color-gray-04);
}


.categoryCardContainer a {
    text-decoration: none;
}

.categoryCardWrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: space-evenly;
}


.productCategoryCardImage {
    height: 20rem;
    width: auto;
    display: flex;
    padding-bottom: 1rem;
    /* background-color: aqua; */
    /* max-width: 50%;
    height: 22vh;
    object-fit: contain;
    align-self: center; */
}

.productCategoryCardImage img {
    height: 100%;
    width: 100%;
    object-fit: contain;

    /* max-width: 50%;
    height: 22vh;
    object-fit: contain;
    align-self: center; */
}

@media (min-width: 430px) {}