.pageContainer {
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.559), rgba(255, 255, 255, 0.1)),
        url('/public/assets/image/backgrounds/main/studio-kitchen-01.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50rem;
    justify-content: center;
    padding: 1rem;
    
    margin: 2rem 0;
    /* border-radius: 2rem; */
    /* Ensure text color contrasts with the gradient */
}

.section1HeaderText {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* padding-top: 4rem; */
    color: white;
}


.section1Search {
    display: grid;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%; */

}

.section1FooterText {
margin-top: 2rem;
 margin-bottom: 2rem;
 color: white;
}

.desktopHomeSearchWrapper {
    display: none;
}


.linksContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.resourceCardWrapper{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
    height: auto;
    margin: 2rem 0;
}
.resourceCard{
    background-color: var(--color-gray-06);
    height: auto;
    
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 4rem;
    border-radius: 2rem;
    /* gap: 1rem;
    padding: 8rem; */
    /* border-radius: 100rem; */
}
.resourceCardButtonWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.resourceCardButtonWrapper button{
    width: max-content;
}
@media (min-width: 834px) {
    .resourceCardWrapper{
      
        gap: 10rem;
   
    }
}
@media (min-width: 1024px) {
    .resourceCardWrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        gap: 20rem;
        height: auto;
        margin: 2rem 0;
    }
    .pageContainer {

        height: 80rem;

    }

    .mobileHomeSearchWrapper {
        display: none;
    }

    .desktopHomeSearchInputWrapper {
        width: 60rem;
    }

    .desktopHomeSearchWrapper {
        display: block;
    }
}

/* --------------------------------------------------------------------------------------- */
/* MEDIA QUERY REFERENCE */
/* --------------------------------------------------------------------------------------- */
/* 
@media (min-width: 430px) {}
@media (min-width: 768px) {}
@media (min-width: 834px) {}
@media (min-width: 1024px) {} - MOBILE / DESKTOP Breakpoint
@media (min-width: 1280px) {}
@media (min-width: 1440px) {}
@media (min-width: 1920px) {} 
*/