@font-face {
  font-family: "LG EI Headline Light";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/LG_EI_Headline_Light.ttf") format("truetype");
  src: url("/public/fonts/LG_EI_Headline_Light.woff") format("woff");
}

@font-face {
  font-family: "LG EI Headline Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/LG_EI_Headline_Regular.ttf") format('truetype');
  src: url("/public/fonts/LG_EI_Headline_Regular.woff") format('woff');
}

@font-face {
  font-family: "LG EI Headline SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/LG_EI_Headline_Semibold.ttf") format('truetype');
  src: url("/public/fonts/LG_EI_Headline_Semibold.woff") format('woff');
}

@font-face {
  font-family: "LG EI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/LG_EI_Text_Bold.ttf") format('truetype');
  src: url("/public/fonts/LG_EI_Text_Bold.woff") format('woff');
}

@font-face {
  font-family: "LG EI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/LG_EI_Text_Regular.ttf") format('truetype');
  src: url("/public/fonts/LG_EI_Text_Regular.woff") format('woff');
}

@font-face {
  font-family: "LG EI Text SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/LG_EI_Text_SemiBold.ttf") format('truetype');
  src: url("/public/fonts/LG_EI_Text_SemiBold.ttf") format('woff');
}