.pagination{
  /* background-color: #FAFAFA; */
  background-color: var(--color-gray-05);
 /* padding: 1.5rem 2rem; */
 padding: 0 2rem;
 font-size: 1.6rem;
}
.paginationContentWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonWrapper{
  display: flex;
  align-items: center;
  /* gap: 1.5rem; */
}
.pageNumberWrapper{
 display: flex;
 flex-direction: row;
 gap: .5rem;
}
.pagNum{
  color: var(--color-gray-01);
  font-family: inherit;
  /* background-color: aqua; */
  border: 1px solid var(--color-gray-01);
  border-radius: 2px;
  padding: 1rem;
}
.spreadDotsWrapper{
  padding-left: .5rem;
}
.chevronWrapper svg{
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  
}
.paginationButton:hover{
  cursor: pointer;
}
.pagNum:hover{
  cursor: pointer;
  color: var(--color-red-03);
}
.tableInfoText{
  color: black;
  font-family: var(--lg-ei-text-regular);
font-size: 1.6rem;
}
.paginationButton{
  background-color: inherit;
  border: none;
  color: var(--color-gray-01);
  font-family: var(--lg-ei-text-regular);
  font-size: 1.6rem;
}
.paginationButton:disabled{
  color: rgb(196, 196, 196);
  cursor: not-allowed;
}
.paginationButton:disabled{
  color: rgb(196, 196, 196);
  cursor: not-allowed;
}
.paginationButton:hover:not(:disabled){
  color: var(--color-red-03);
}

